In [11]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [12]:
#Reading CSV files in Pandas
df = pd.read_csv("iris.csv")
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.3+ KB

In [14]:
X = df.iloc[: , :4]
y = df['species']

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X,y,
                                                 test_size=0.3,
                                                 random_state=3)

In [16]:
print("X_train", X_train.shape)
print("X_test", X_test.shape)
print("y_train", y_train.shape)
print("y_test", y_test.shape)

X_train (105, 4)
X_test (45, 4)
y_train (105,)
y_test (45,)

In [17]:
from sklearn.naive_bayes import GaussianNB
NB_model = GaussianNB()
NB_model.fit(X_train,y_train)
print("Model train sucessfully...!!!")

Model train sucessfully...!!!

In [18]:
from sklearn import metrics 
y_pred  = NB_model.predict(X_test)
acc = metrics.accuracy_score(y_test, y_pred)
print("Model accuracy for NB_model : ",acc*100)

Model accuracy for NB_model :  97.77777777777777

In [20]:
pred_results = pd.DataFrame({'y_test':y_test,
                           'y_pred':y_pred})
pred_results.sample(10)

         y_test      y_pred
47       setosa      setosa
14       setosa      setosa
31       setosa      setosa
58   versicolor  versicolor
77   versicolor   virginica
134   virginica   virginica
141   virginica   virginica
67   versicolor  versicolor
126   virginica   virginica
15       setosa      setosa