In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv("iris.csv")
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
df.isnull().any()

sepal_length    False
sepal_width     False
petal_length    False
petal_width     False
species         False
dtype: bool

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.3+ KB

In [6]:
X = df.iloc[ : , :4]
y = df['species']

In [7]:
X

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test =train_test_split(X,y,
                                                 test_size=0.3,
                                                 random_state=3)

In [10]:
print("X_train : ",X_train.shape)
print("X_test : ",X_test.shape)
print("y_train : ",y_train.shape)
print("y_test : " ,y_test.shape)

X_train :  (105, 4)
X_test :  (45, 4)
y_train :  (105,)
y_test :  (45,)

# SVM Algo (kernel='rbf' , C = 1.0)

In [11]:
from sklearn import svm
SVM_model = svm.SVC(kernel='rbf' , C = 1.0)

In [12]:
SVM_model.fit(X_train,y_train)
print("Model train sucessfully...!!!")

Model train sucessfully...!!!

In [13]:
y_pred  = SVM_model.predict(X_test)
y_pred

array(['setosa', 'setosa', 'setosa', 'setosa', 'setosa', 'virginica',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'versicolor',
       'setosa', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'versicolor', 'virginica', 'virginica', 'setosa', 'virginica',
       'virginica', 'virginica', 'versicolor', 'setosa', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'setosa', 'virginica'], dtype=object)

In [14]:
from sklearn import metrics 

acc = metrics.accuracy_score(y_test, y_pred)

print("Accuracy of SVM with kernel='rbf', C=1.0 : ",acc*100)

Accuracy of SVM with kernel='rbf', C=1.0 :  97.77777777777777

# Comparing accuracy of model by changing some parameters

# SVM Algo (kernel='linear' , C = 1.0)

In [15]:
SVM_model = svm.SVC(kernel='linear' , C = 1.0)
SVM_model.fit(X_train,y_train)
y_pred  = SVM_model.predict(X_test)
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of SVM with(kernel='linear' , C = 1.0) : ",acc*100)

Accuracy of SVM with(kernel='linear' , C = 1.0) :  97.77777777777777

# SVM Algo (kernel='poly' , C = 1.0)

In [16]:
    SVM_model = svm.SVC(kernel='poly' , C = 1.0)
SVM_model.fit(X_train,y_train)
y_pred  = SVM_model.predict(X_test)
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of SVM with  (kernel='poly',C = 1.0): ",acc*100)

Accuracy of SVM with  (kernel='poly',C = 1.0):  95.55555555555556

# SVM Algo (kernel='sigmoid' , C = 1.0)

In [17]:
SVM_model = svm.SVC(kernel='sigmoid' , C = 1.0)
SVM_model.fit(X_train,y_train)
y_pred  = SVM_model.predict(X_test)
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of SVM with  (kernel='sigmoid',C = 1.0): ",acc*100)

Accuracy of SVM with  (kernel='sigmoid',C = 1.0):  15.555555555555555

# We will use SVM(kernel='linear', C=1.0) for predicting

In [18]:
SVM_model = svm.SVC(kernel='linear' , C = 1.0)
SVM_model.fit(X_train,y_train)
y_pred  = SVM_model.predict(X_test)
acc = metrics.accuracy_score(y_test, y_pred)
print("Accuracy of SVM with(kernel='linear' , C = 1.0) : ",acc*100)

Accuracy of SVM with(kernel='linear' , C = 1.0) :  97.77777777777777

In [19]:
SL = 6.5
SW = 3.0
PL = 5.2
PW = 2.0
pred = SVM_model.predict([[SL,SW,PL,PW]])
print("The Flower is:",pred[0])

The Flower is: virginica